.wrapper {
  width: 1006px;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid #e04f4f;
  display: flex;
  border: 1px solid var(--color-dark-500);
  border-top: none;
}

.question {
  flex: 30%;

  align-self: center;
  padding-left: 24px;
  // display: flex;
}

.name {
  flex: 30%;

  align-self: center;
  padding-left: 24px;
}

.answer {
  flex: 30%;

  align-self: center;
  padding-left: 24px;
}

.cards {
  flex: 12%;

  align-self: center;
  padding-left: 24px;
}

.lastUpdated {
  flex: 20%;

  align-self: center;
  padding-left: 24px;
}
.grade {
  flex: 20%;
  align-self: center;
  padding-left: 24px;
  max-width: 20%;
  overflow: hidden;
}

.createdBy {
  flex: 20%;
  align-self: flex-start;
  padding-left: 24px;
  max-width: 20%;
  overflow: hidden;
  justify-content: start;
}

.img {
  align-self: center;

  width: 118px;
  height: 48px;
  margin-top: 5px;
  margin-bottom: 5px;

  display: flex;
  align-self: center;
}

.item {
}

.text {
  padding-top: 6px;
  padding-bottom: 6px;
}

.header {
  background-color: var(--color-dark-300);
}

.settings {
  flex: 10%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerButton {
  cursor: pointer;
}

.deckName {
}

.deckName:hover {
  color: var(--color-primary-500);
}

.link {
  // float: left;
  display: inline-block;
  width: max-content;
  padding: 0px 14px;
  padding-left: 24px;
}
