.imgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgSize {
  width: 200px;
  height: 200px;
}

.contentBlock {
  margin-bottom: 25px;
}

.question {
  margin-bottom: 15px;
}
