.button {
  border: none;
  color: var(--color-light-100);
  padding: 6px 28px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:focus {
  outline: 2px solid var(--color-info-700);
}

.primary {
  background-color: var(--color-primary-500);
}
.primary:hover {
  background-color: var(--color-primary-300);
}
.primary:active {
  background-color: var(--color-primary-700);
}
.primary:disabled {
  background-color: var(--color-primary-900);
  color: var(--color-light-900);
}

.secondary {
  background-color: var(--color-dark-300);
}
.secondary:hover {
  background-color: var(--color-dark-100);
}
.secondary:active {
  background-color: var(--color-dark-500);
}
.secondary:disabled {
  background-color: var(--color-dark-300);
  color: var(--color-light-900);
}
.fullWidth {
  width: 100%;
}

a {
  all: unset;
  padding: 6px 14px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-primary-500);
  width: max-content;
}

a:hover {
  color: var(--color-primary-300);
}
a:active {
  color: var(--color-primary-700);
}
a:disabled {
  color: var(--color-primary-900);
}
a:focus {
  outline: 2px solid var(--color-info-700);
}

.logo {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  top: 3px;
}

.disabledLogo {
  fill: #c3c1c7;
}
.defaultLogo {
  fill: white;
}
