.input {
  outline: none;

  background-color: black;
  color: var(--color-dark-100);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  padding: 6px 12px 6px 12px;
  width: 300px;
  // display: inline-block;
}

.input:hover {
  color: var(--color-dark-100);
  border: 1px solid var(--color-dark-100);
  background-color: var(--color-dark-700);
}
.input:focus {
  color: var(--color-light-100);
  border: 1px solid var(--color-light-100);
}
.input:focus:hover {
  background-color: var(--color-dark-900);
}
// .input:active {

// }

.error {
  outline: none;
  background-color: black;
  border-radius: 2px;
  padding: 6px 12px 6px 12px;
  border: 1px solid var(--color-danger-300);
  color: var(--color-danger-300);
  width: 300px;
}
.fullWidth {
  width: 100%;
}
.disabled {
  // border: none;
  width: 300px;
  background-color: black;
  border-radius: 2px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--color-dark-300);
  border: 1px solid var(--color-dark-300);
}

.wrapper {
  display: inline-block;
  position: relative;
}
.top {
  width: 300px;
  display: flex;
}
.helperText {
  width: 250px;
}

.withIcon {
  padding-right: 33px;
}
.search {
  padding-left: 35px;
}

.svg {
  fill: var(--color-light-100);
  position: absolute;
  cursor: pointer;
  top: 30px;
  // left: 275px;
  right: 10px;
}
.svg2 {
  border: 1px solid #a14e4e;
  fill: var(--color-light-100);
  position: absolute;
  cursor: pointer;
  top: 30px;
  // left: 275px;
  right: 10px;
}

.searchIcon {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  left: 8px;
  top: 0px;
}
.searchFocused {
  fill: var(--color-light-100);
}
.searchUnfocused {
  fill: var(--color-dark-100);
}

.disabledSearchIcon {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  left: 8px;
  bottom: 0px;
  fill: var(--color-dark-300);
}
