.input {
  all: unset;
  background-color: black;
  color: var(--color-dark-100);
  border: 1px solid var(--color-dark-300);

  border-radius: 2px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.input:hover {
  color: var(--color-dark-100);
  border: 1px solid var(--color-dark-100);
  background-color: var(--color-dark-700);
}
.input:focus {
  color: var(--color-light-100);
  border: 1px solid var(--color-light-100);
}
.input:focus:hover {
  background-color: var(--color-dark-900);
}
// .input:active {

// }
.fullWidth {
  width: 100%;
  border: 1px solid var(--color-light-100);
}

.error {
  all: unset;
  background-color: black;
  border-radius: 2px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid var(--color-danger-300);
  color: var(--color-danger-300);
}

.disabled {
  all: unset;
  background-color: black;
  border-radius: 2px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--color-dark-300);
  border: 1px solid var(--color-dark-300);
}

.wrapper {
  width: max-content;
}

.helperText {
  color: var(--color-dark-100);
}
.disbaledHelperText {
  color: var(--color-dark-300);
}

.svg {
  fill: red;
  color: red;
}
