.light {
  color: var(--color-light-100);
}
.dark {
  color: var(--color-dark-900);
}
.H1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
}
.H2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.H3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.H4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.Body1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.Subtitle1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.Body2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.Subtitle2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.Caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.Overline {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.Link1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #397df6;
  text-decoration: underline;
}
.Link2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #397df6;
  text-decoration: underline;
}
