.header {
  width: 1006px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.arrowStyle {
  fill: white;
  display: inline-block;
}

.arrowStyle:hover {
  fill: var(--color-primary-500);
}

.cardsInput {
  margin-bottom: 24px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: black;
  opacity: 0.5;
  z-index: 9;
}
